./Notes
Notes/07-Reinforcement-Learning-OpenAI/models/checkpoint
Notes/07-Reinforcement-Learning-OpenAI/models/cartpole_model.ckpt.meta
Notes/07-Reinforcement-Learning-OpenAI/models/cartpole_model.ckpt.index
Notes/07-Reinforcement-Learning-OpenAI/models/cartpole_model.ckpt.data-00000-of-00001
Notes/07-Reinforcement-Learning-OpenAI/06-Running-Net.py
Notes/07-Reinforcement-Learning-OpenAI/05-Policy-Gradient-Gym-NN.py
Notes/07-Reinforcement-Learning-OpenAI/04-Basic-Gym-NN.py
Notes/07-Reinforcement-Learning-OpenAI/03-Gym-Actions.py
Notes/07-Reinforcement-Learning-OpenAI/02-Gym-Env-Basics.py
Notes/07-Reinforcement-Learning-OpenAI/01-Introduction-to-OpenAI.py
Notes/07-Reinforcement-Learning-OpenAI/00-testgym.py
Notes/06-Generative-Adversarial-Networks/models/checkpoint
Notes/06-Generative-Adversarial-Networks/models/500_epoch_model.ckpt.meta
Notes/06-Generative-Adversarial-Networks/models/500_epoch_model.ckpt.index
Notes/06-Generative-Adversarial-Networks/models/500_epoch_model.ckpt.data-00000-of-00001
Notes/06-Generative-Adversarial-Networks/00-GAN-Example.ipynb
Notes/06-Generative-Adversarial-Networks/.ipynb_checkpoints/00-GAN-Example-checkpoint.ipynb
Notes/05-Autoencoders/stacked_autoencoder.ckpt.meta
Notes/05-Autoencoders/stacked_autoencoder.ckpt.index
Notes/05-Autoencoders/stacked_autoencoder.ckpt.data-00000-of-00001
Notes/05-Autoencoders/checkpoint
Notes/05-Autoencoders/anonymized_data.csv
Notes/05-Autoencoders/03-Stacked-Autoencoder-Example.ipynb
Notes/05-Autoencoders/02-Linear-Autoencoder-for-PCA-Exercise-SOLUTIONS.ipynb
Notes/05-Autoencoders/01-Linear-Autoencoder-for-PCA-Exercise.ipynb
Notes/05-Autoencoders/00-Simple-Autoencoder-for-PCA.ipynb
Notes/05-Autoencoders/.ipynb_checkpoints/03-Stacked-Autoencoder-Example-checkpoint.ipynb
Notes/05-Autoencoders/.ipynb_checkpoints/02-Linear-Autoencoder-for-PCA-Exercise-SOLUTIONS-checkpoint.ipynb
Notes/05-Autoencoders/.ipynb_checkpoints/01-Linear-Autoencoder-for-PCA-Exercise-checkpoint.ipynb
Notes/05-Autoencoders/.ipynb_checkpoints/00-Simple-Autoencoder-for-PCA-checkpoint.ipynb
Notes/04-Recurrent-Neural-Networks/word2vec_data/words/words.zip
Notes/04-Recurrent-Neural-Networks/trained_embeddings_200k_steps.npy
Notes/04-Recurrent-Neural-Networks/trained_embeddings.npy
Notes/04-Recurrent-Neural-Networks/text8.zip
Notes/04-Recurrent-Neural-Networks/rnn_time_series_model.meta
Notes/04-Recurrent-Neural-Networks/rnn_time_series_model.index
Notes/04-Recurrent-Neural-Networks/rnn_time_series_model.data-00000-of-00001
Notes/04-Recurrent-Neural-Networks/monthly-milk-production.csv
Notes/04-Recurrent-Neural-Networks/low_dim_embed_5000_words.npy
Notes/04-Recurrent-Neural-Networks/ex_time_series_model_codealong.meta
Notes/04-Recurrent-Neural-Networks/ex_time_series_model_codealong.index
Notes/04-Recurrent-Neural-Networks/ex_time_series_model_codealong.data-00000-of-00001
Notes/04-Recurrent-Neural-Networks/ex_time_series_model.meta
Notes/04-Recurrent-Neural-Networks/ex_time_series_model.index
Notes/04-Recurrent-Neural-Networks/ex_time_series_model.data-00000-of-00001
Notes/04-Recurrent-Neural-Networks/datasets/words/words.zip
Notes/04-Recurrent-Neural-Networks/checkpoint
Notes/04-Recurrent-Neural-Networks/__pycache__/lstm_predictor.cpython-35.pyc
Notes/04-Recurrent-Neural-Networks/04-Word2Vec.ipynb
Notes/04-Recurrent-Neural-Networks/03-Time-Series-Exercise-Solutions-Final.ipynb
Notes/04-Recurrent-Neural-Networks/02-Time-Series-Exercise.ipynb
Notes/04-Recurrent-Neural-Networks/01-RNN-with-TF-API.ipynb
Notes/04-Recurrent-Neural-Networks/00-Basic-Manual-RNN.ipynb
Notes/04-Recurrent-Neural-Networks/.ipynb_checkpoints/lstm-for-sine-wave-checkpoint.ipynb
Notes/04-Recurrent-Neural-Networks/.ipynb_checkpoints/04-Word2Vec-checkpoint.ipynb
Notes/04-Recurrent-Neural-Networks/.ipynb_checkpoints/03-Time-Series-Exercise-Solutions-Final-checkpoint.ipynb
Notes/04-Recurrent-Neural-Networks/.ipynb_checkpoints/02-Time-Series-Exercise-checkpoint.ipynb
Notes/04-Recurrent-Neural-Networks/.ipynb_checkpoints/01-RNN-with-TF-API-checkpoint.ipynb
Notes/04-Recurrent-Neural-Networks/.ipynb_checkpoints/00-Basic-Manual-RNN-checkpoint.ipynb
Notes/03-Convolutional-Neural-Networks/cifar-10-batches-py/test_batch
Notes/03-Convolutional-Neural-Networks/cifar-10-batches-py/readme.html
Notes/03-Convolutional-Neural-Networks/cifar-10-batches-py/data_batch_5
Notes/03-Convolutional-Neural-Networks/cifar-10-batches-py/data_batch_4
Notes/03-Convolutional-Neural-Networks/cifar-10-batches-py/data_batch_3
Notes/03-Convolutional-Neural-Networks/cifar-10-batches-py/data_batch_2
Notes/03-Convolutional-Neural-Networks/cifar-10-batches-py/data_batch_1
Notes/03-Convolutional-Neural-Networks/cifar-10-batches-py/batches.meta
Notes/03-Convolutional-Neural-Networks/MNIST_data/train-labels-idx1-ubyte.gz
Notes/03-Convolutional-Neural-Networks/MNIST_data/train-images-idx3-ubyte.gz
Notes/03-Convolutional-Neural-Networks/MNIST_data/t10k-labels-idx1-ubyte.gz
Notes/03-Convolutional-Neural-Networks/MNIST_data/t10k-images-idx3-ubyte.gz
Notes/03-Convolutional-Neural-Networks/03-CNN-Project-Exercise-Solutions.ipynb
Notes/03-Convolutional-Neural-Networks/02-CNN-Project-Exercise.ipynb
Notes/03-Convolutional-Neural-Networks/01-MNIST-with-CNN.ipynb
Notes/03-Convolutional-Neural-Networks/00-MNIST-Data-Basic-Approach.ipynb
Notes/03-Convolutional-Neural-Networks/.ipynb_checkpoints/03-CNN-Project-Exercise-Solutions-checkpoint.ipynb
Notes/03-Convolutional-Neural-Networks/.ipynb_checkpoints/02-CNN-Project-Exercise-checkpoint.ipynb
Notes/03-Convolutional-Neural-Networks/.ipynb_checkpoints/01-MNIST-with-CNN-checkpoint.ipynb
Notes/03-Convolutional-Neural-Networks/.ipynb_checkpoints/00-MNIST-Data-Basic-Approach-checkpoint.ipynb
Notes/02-TensorFlow-Basics/pima-indians-diabetes.csv
Notes/02-TensorFlow-Basics/new_models/my_second_model.ckpt.meta
Notes/02-TensorFlow-Basics/new_models/my_second_model.ckpt.index
Notes/02-TensorFlow-Basics/new_models/my_second_model.ckpt.data-00000-of-00001
Notes/02-TensorFlow-Basics/new_models/checkpoint
Notes/02-TensorFlow-Basics/models/my_first_model.meta
Notes/02-TensorFlow-Basics/models/my_first_model.index
Notes/02-TensorFlow-Basics/models/my_first_model.data-00000-of-00001
Notes/02-TensorFlow-Basics/models/my_first_model.ckpt.meta
Notes/02-TensorFlow-Basics/models/my_first_model.ckpt.index
Notes/02-TensorFlow-Basics/models/my_first_model.ckpt.data-00000-of-00001
Notes/02-TensorFlow-Basics/models/checkpoint
Notes/02-TensorFlow-Basics/landata-states.csv
Notes/02-TensorFlow-Basics/census_data.csv
Notes/02-TensorFlow-Basics/cal_housing_clean.csv
Notes/02-TensorFlow-Basics/10-Saving -and-Loading-Models.ipynb
Notes/02-TensorFlow-Basics/09-Classification-Exercise-Solution.ipynb
Notes/02-TensorFlow-Basics/08-Classification-Exercise.ipynb
Notes/02-TensorFlow-Basics/07-Regression-Exercise-Solutions-Final.ipynb
Notes/02-TensorFlow-Basics/06-Regression-Exercise.ipynb
Notes/02-TensorFlow-Basics/05-TensorFlow-Classification-Example.ipynb
Notes/02-TensorFlow-Basics/04-TensorFlow-Regression-Example.ipynb
Notes/02-TensorFlow-Basics/03-TF-Neural-Network.ipynb
Notes/02-TensorFlow-Basics/02-Variables-and-Placeholders.ipynb
Notes/02-TensorFlow-Basics/01-TensorFlow-Graphs.ipynb
Notes/02-TensorFlow-Basics/00-TensorFlow-Basic-Syntax.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/10-Saving -and-Loading-Models-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/09-Classification-Exercise-Solution-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/08-Classification-Exercise-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/07-Regression-Exercise-Solutions-Final-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/06-Regression-Exercise-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/05-TensorFlow-Classification-Example-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/04-TensorFlow-Regression-Example-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/03-TF-Neural-Network-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/02-Variables-and-Placeholders-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/01-TensorFlow-Graphs-checkpoint.ipynb
Notes/02-TensorFlow-Basics/.ipynb_checkpoints/00-TensorFlow-Basic-Syntax-checkpoint.ipynb
Notes/01-Neural-Network-Basics/Manual Neural Network.ipynb
Notes/01-Neural-Network-Basics/.ipynb_checkpoints/Manual Neural Network-checkpoint.ipynb
Notes/00-Crash-Course-Basics/salaries.csv
Notes/00-Crash-Course-Basics/05-Crash-Course-Review-Exercises.ipynb
Notes/00-Crash-Course-Basics/05-Crash-Course-Review-Exercises-Solutions.ipynb
Notes/00-Crash-Course-Basics/03-SciKit-Learn-Overview.ipynb
Notes/00-Crash-Course-Basics/02-Data-Viz-Crash-Course.ipynb
Notes/00-Crash-Course-Basics/01-Pandas-Crash-Course.ipynb
Notes/00-Crash-Course-Basics/00-NumPy-Crash-Course-Overview.ipynb
Notes/00-Crash-Course-Basics/.ipynb_checkpoints/05-Crash-Course-Review-Exercises-checkpoint.ipynb
Notes/00-Crash-Course-Basics/.ipynb_checkpoints/05-Crash-Course-Review-Exercises-Solutions-checkpoint.ipynb
Notes/00-Crash-Course-Basics/.ipynb_checkpoints/03-SciKit-Learn-Overview-checkpoint.ipynb
Notes/00-Crash-Course-Basics/.ipynb_checkpoints/02-Data-Viz-Crash-Course-checkpoint.ipynb
Notes/00-Crash-Course-Basics/.ipynb_checkpoints/01-Pandas-Crash-Course-checkpoint.ipynb
Notes/00-Crash-Course-Basics/.ipynb_checkpoints/00-NumPy-Crash-Course-Overview-checkpoint.ipynb
